/* css da pagina inicial

header{
    display: flex;
    justify-content: flex-end;
}

body{
    margin: 0;
    padding: 0;

}

.wards{
    width: 3rem;
    height: 3rem;
    border-radius: 50rem;
    background-color: red;
    box-shadow: 0 0.2rem 0.6rem 0 black;
}

.modosDeJogo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    column-gap: 0rem;
    place-items: center;
}

.modo{
    display: grid;
    background-color: #D9D9D9; 
    place-items: center;
    width: 15rem;
    height: 7rem;
    border-radius: 1rem;
}
.modo p{
    font-size: 1.3rem;
    font-weight: bold;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white; 
    padding: 1rem 0;
}

footer section {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white; 
    padding: 1rem 0;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 2rem; 
}

.footer-content img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: red;
    box-shadow: 0 0.2rem 0.6rem 0 black;
    z-index: 2; 
    position: relative;
}

.linha {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    z-index: 1; 
} 

a{
    text-decoration: none;
    color: black;
} */