@media (max-width: 768px){
    body {
    background-image: url("../assest/iPhone\ 13\ &\ 14\ -\ 1\ \(2\).png");
    background-repeat: no-repeat;
    background-position: center;
    height: 828px;
}
}

@media (min-width: 769px) {
    body {
        background-image: url("../assest/2603550423-escolhas.png"); /* Outra imagem para PC */
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; /* Para preencher toda a tela */
        height: 828px;

    }
}



.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    margin-top: 600px;

}

.Login {
    background-color: #0000FF;
    border-radius: 20px;
    width: 15rem;
    margin: 5px;
}

.Login p {
    display: flex;
    justify-content: center;
    color: white;
}

.Cadastrar {
    background-color: #0000FF;
    border-radius: 20px;
    width: 15rem;
}

.Cadastrar p {
    display: flex;
    justify-content: center;
    color: white;
}


.Container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;

}

.box {
    background-color: #0000FF;
    width: 17rem;
    height: 15rem;
    border-radius: 1rem;
    margin: 10px;
}

.box label {
    color: white;
    font-size: 20px;

}

.box div{
    margin: 30px;
    align-items: center;
    padding-left: 15px;
}


.jogar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0000FF;
    border-radius: 20px;
    width: 15rem;
    margin: 35px;
    height: 3.5rem;
}

.buttonGame button {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.buttonGame {
    display: flex;
    justify-content: center;
}


